<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title></title>
        {% load static %}
        <!-- The line above tells Django to be ready to listen for static files -->
        <link rel="stylesheet" href="{% static 'users_app/css/style.css' %}" media="screen" title="no title" charset="utf-8">
        <!-- Put the static files in the static folder inside your app.  Django collects files within all static folders and puts them within a single folder -->
    </head>

    <body>
        <h1>Edit User</h1>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form action="{% url 'users:my_update' id=user.id %}" method="post">
            {% csrf_token %} First name:
            <br>
            <input type="text" name="fname" value={{user.firstname}}>
            <br> Last name:
            <br>
            <input type="text" name="lname" value={{user.lastname}}>
            <br> Email:
            <br>
            <input type="text" name="email" value={{user.email}}>
            <br>
            <br>
            <input type="submit" value="Update">
            <br>
        </form>
        <a href="{% url 'users:my_show' id=user.id %}">Show</a> | 
        <a href="{% url 'users:my_index' %}">Go back</a>
    </body>

</html>